@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply font-primary;
}

body {
  background-color: #313131;
}

h1, h2, h3, h4, h5, h6 {
  color: white!important;
}

.container {
  max-width: 1140px;
}

.slick-next:before, .slick-prev:before {
  color: #f4442e;
}

input:focus {
  border: 0;
  outline: none;
}
